# general modules 
django >4.2,<4.3
Pillow
python-decouple
djangorestframework-simplejwt

# third party modules
markdown
django-filter
drf-yasg[validation]
faker
django-celery-beat

# deployment modules


# email modules
django-mail-templated


# reformat modules Testing
black
flake8
pytest
pytest-django


# background processes and chash
redis
celery