{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="circle circle_1"></div>
    <div class="circle circle_2"></div>
    <div class="container">
      <div class="form">
        <form method="post">
          {% csrf_token %}
          <h1>Signup Here</h1>
          <label for="login">Username</label>
          <input name="username" type="text" id="login" placeholder="Emai or Phone" required />
          <label for="password1">Password</label>
          <input name="password1" type="password" id="password1" placeholder="Password" required />
          <label for="password2">Confirm password</label>
          <input name="password2" type="password" id="password2" placeholder="Confirm password" required />
          <button type="submit">Sign Up</button>
        </form>
        <div class="footer">
          <div class="forget">
            <a class="text_footer" href="#">Forgot your password?</a>
          </div>
          <div class="signup">
            <a class="text_footer" href="{% url 'account:login-view' %}">Do you have an account?</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'masseges.html' %}
  </body>
</html>
