<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.tags|title }}!',
                text: '{{ message }}',
                showConfirmButton: 'Confirm',
            });
        {% endfor %}
    {% endif %}
    {% if error_message %}

    Swal.fire({
                icon: 'error',
                title: '{{ error_message }}',
                showConfirmButton: 'Confirm',
            });
    {% endif %}

    {% if error_messages %}
    {% for field, errors in error_messages.items %}

    {% for error in errors %}
    Swal.fire({
                icon: 'error',
                title: '{{error}}',
                showConfirmButton: 'Confirm',
            });
        {% endfor %}
        {% endfor %}
    {% endif %}

</script>